<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
     <div class="main w-full h-screen bg-zinc-900 p-10">
               <a href="/"><button class="mt-4 text-blue-500">Go to Back</button></a>
               <h1 class="text-white text-2xl font-bold mt-6"><%= title %></h1>
               <p class="text-white mt-2"><%= note %></p>     
     </div>
</body>
</html>